form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

h1 {
  text-align: center;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: lightgray;
  color: black;
  cursor: not-allowed;
}

div {
  color: red;
}
